
export LANG=ja_JP.UTF-8
HISTFILE=$HOME/.zsh_history
HISTSIZE=1000000
SAVEHIST=1000000
setopt share_history # 複数ターミナルでヒストリを共有
setopt hist_ignore_space # スペースで始まるコマンドをヒストリに保存しない
setopt nonomatch

# aliases
alias ls='eza -F'
alias ll='eza -F -algh --git --icons'
alias vim='nvim'
alias vi='vim'
alias vimdiff='nvim -d'
alias cat='bat -pP'
alias :q='exit'

mkcd() {
    mkdir "$*" && cd "$1"
}


eval "$(sheldon source)"
eval "$(starship init zsh)"
eval "$(mise activate zsh)"

# Set up fzf key bindings
source <(fzf --zsh)

# Created by `pipx` on 2025-04-10 10:12:48
export PATH="$PATH:/Users/ama_434/.local/bin"
# export PATH="/opt/homebrew/anaconda3/bin:$PATH"  # commented out by conda initialize

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/opt/homebrew/anaconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/opt/homebrew/anaconda3/etc/profile.d/conda.sh" ]; then
        . "/opt/homebrew/anaconda3/etc/profile.d/conda.sh"
    else
        export PATH="/opt/homebrew/anaconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

# shell scripts
export PATH="$HOME/bin:$PATH"
